<div class="barra-fija">
  <div title="Clientes" routerLink="/listado-clientes">
    <i class="fas fa-address-book"></i>
  </div>
  <div title="Presupuestos" routerLink="/listado-presupuestos">
    <i class="fas fa-money-bill-alt"></i>
  </div>
</div>

<div class="col-md-12">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
      <li class="breadcrumb-item"><a routerLink="/ventas">Ventas</a></li>
      <li class="breadcrumb-item"><a routerLink="/listado-presupuestos">Presupuestos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Añadir Presupuesto</li>
    </ol>
  </nav>
</div>

<div class="col-md-12 titulo">
  <span>Añadir Presupuesto</span>
  <button class="btn btn-primary" routerLink="/listado-presupuestos">
    <strong>Volver</strong>
  </button>
</div>
<div class="col-md-10 offset-md-1 col-12">
  <div class="formulario">
    <form [formGroup]="presupuestoForm" (ngSubmit)="registrarPre()">
      <div class="row">
        <div class="col-md-6">
          <label for="cliente">Cliente</label>
          <span *ngIf="presupuestoForm.controls.cliente.valid &&
                      presupuestoForm.controls.cliente.dirty">
              <i class="fas fa-check-circle icono-verde"></i>
          </span>
          <span class="carmesi" *ngIf="presupuestoForm.controls.cliente.invalid &&
                        presupuestoForm.controls.cliente.touched">
            <i class="fas fa-times-circle"></i>
            El campo es obligatorio
          </span>
          <input type="text" class="form-control"
                formControlName="cliente" autofocus
                #proveedor>
        </div>
        <div class="col-md-6">
          <label for="cif">CIF</label>
          <span *ngIf="presupuestoForm.controls.cif.valid &&
                      presupuestoForm.controls.cif.dirty">
              <i class="fas fa-check-circle icono-verde"></i>
          </span>
          <span class="carmesi" *ngIf="presupuestoForm.controls.cif.invalid &&
                        presupuestoForm.controls.cif.touched &&
                        !presupuestoForm.value.cif">
            <i class="fas fa-times-circle"></i>
            El campo es obligatorio
          </span>
          <span class="carmesi" *ngIf="presupuestoForm.controls.cif.invalid &&
                      presupuestoForm.controls.cif.dirty &&
                      presupuestoForm.value.cif">
            <i class="fas fa-times-circle"></i>
            El campo debe tener 9 caracteres
          </span>
          <input type="text" class="form-control"
                formControlName="cif"
                [(ngModel)]="presupuestoForm.value.cif" maxlength="9">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <label for="fecha">Fecha presupuesto</label>
            <input type="date" class="form-control"
                    formControlName="fecha">
        </div>
        <div class="col-md-8">
            <label for="concepto">Concepto</label>
            <input type="text" class="form-control"
                    formControlName="concepto">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <label for="base">Base Imponible</label>
            <span *ngIf="presupuestoForm.controls.base.valid &&
                        presupuestoForm.controls.base.dirty">
                <i class="fas fa-check-circle icono-verde"></i>
            </span>
            <span class="carmesi" *ngIf="presupuestoForm.controls.base.invalid &&
                          presupuestoForm.controls.base.touched && !base">
              <i class="fas fa-times-circle"></i>
              El campo es obligatorio
            </span>
            <span class="carmesi" *ngIf="presupuestoForm.controls.base.invalid &&
                        presupuestoForm.controls.base.dirty && base">
              <i class="fas fa-times-circle"></i>
                  No puede superar 100.000,00 €
            </span>
            <input type="number" class="form-control"
                    formControlName="base">
        </div>
        <div class="col-md-4 radiobotones">
            <div class="form-check">
              <input class="form-check-input" type="radio" 
                      [value]=true
                      formControlName="retencion">
              <label class="form-check-label">
                Con retención IRPF
              </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio"  
                        [value]=false
                        formControlName="retencion">
                <label class="form-check-label">
                  Sin retención IRPF
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <label for="tipo">% IVA</label>
            <select class="form-control"
                    formControlName="tipo"
                    [(ngModel)]="presupuestoForm.value.tipo">
              <option value=0>0 %</option>
              <option value=0.04>4 %</option>
              <option value=0.1>10 %</option>
              <option value=0.21>21 %</option>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" *ngIf="!retencion"></div>
        <div class="col-md-4" *ngIf="retencion">
          <label for="irpf">Retención IRPF</label>
          <input type="text" class="form-control"
                formControlName="irpf"
                [(ngModel)]="presupuestoForm.value.irpf"
                readonly>
        </div>
        <div class="col-md-4">
          <label for="importe">Importe IVA</label>
          <input type="text" class="form-control"
                formControlName="importe"
                [(ngModel)]="presupuestoForm.value.importe"
                readonly>
        </div>
        <div class="col-md-4">
            <label for="total">Total presupuesto IVA incluido</label>
            <input type="text" class="form-control"
                    formControlName="total"
                    [(ngModel)]="presupuestoForm.value.total"
                    readonly>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <button type="submit" 
                    class="btn btn-primary"
                    [disabled]="presupuestoForm.invalid">
                Registrar presupuesto
            </button>
            <button class="btn btn-danger"
                    routerLink="/listado-presupuesto">
              Cancelar
            </button>
        </div>
      </div>
    </form>
  </div>
</div>
