<div class="barra-fija">
    <div title="Proveedores" routerLink="/listado-proveedores"> 
      <i class="far fa-address-card"></i> 
    </div>
    <div title="Facturas" routerLink="/listado-facturas"> 
      <i class="far fa-file-alt"></i>
    </div> 
  </div>

<div class="col-md-12">
  <nav aria-label="breadcrum">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a routerLink="/inicio">Inicio</a> </li>
      <li class="breadcrumb-item"> <a routerLink="/compras">Compras</a> </li>
      <li class="breadcrumb-item active" aria-current="page">Facturas</li>
    </ol>
  </nav>
</div>

<div class="col-md-12 titulo">
  <span>Facturas</span>
  <span class="alert alert-danger" [@alerta]="estadoAlerta">
    {{mensaje}}
  </span>
  <button class="btn btn-primary" routerLink="/crear-factura">
    <i class="far fa-plus-square"></i>  
  </button>
</div>

<div class="col-md-12">
  <table class="table table-bordered table-striped tabla-facturas">
    <tr>
      <th>Proveedor</th>
      <th>CIF</th>
      <th>Total Factura</th>
      <th></th>
    </tr>
    <tr *ngFor="let factura of facturas">
      <td>{{factura.proveedor}}</td>
      <td>{{factura.cif}}</td>
      <td>{{factura.total}}</td>
      <td>
        <button class="btn btn-success" routerLink="/editar-factura/{{factura._id}}">
          <i class="far fa-edit"></i> 
        </button> 
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="obtenerId(factura._id)">
          <i class="far fa-trash-alt"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> <i class="fas fa-exclamation-triangle"></i> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ¿Está seguro de eliminar la factura?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="borrarFactura()" data-dismiss="modal">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>