<div class="barra-fija">
  <div title="Proveedores" routerLink="/listado-proveedores"> 
    <i class="far fa-address-card"></i> 
  </div>
  <div title="Facturas" routerLink="/listado-facturas"> 
    <i class="far fa-file-alt"></i>
  </div> 
  <div title="Artículos" routerLink="/listado-articulos"> 
    <i class="fas fa-cogs"></i>
  </div> 
</div>

<div class="col-md-12 breadcrum">
  <nav aria-label="breadcrum">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a routerLink="/inicio">Inicio</a> </li>
      <li class="breadcrumb-item active" aria-current="page">Compras</li>
    </ol>
  </nav>
</div>

<div class="col-md-12 titulo">
  <span>Dashboard</span>
</div>