<div class="col-ms-12">
  <nav aria-label="breadcrum">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a routerLink="/inicio">Inicio</a> </li>
      <li class="breadcrumb-item"> <a routerLink="/compras">Compras</a> </li>
      <li class="breadcrumb-item active" aria-current="page">Proveedores</li>
    </ol>
  </nav>
</div>

<div class="col-md-12 titulo">
  <span>Proveedores</span>
  <button class="btn btn-primary" routerLink="/crear-proveedor">
    <strong>+</strong>
  </button>
</div>

<div class="col-md-12">
  <table class="table table-bordered table-striped">
    <tr>
      <th>Nombre</th>
      <th>CIF</th>
      <th>Localidad</th>
    </tr>
    <tr *ngFor="let proveedor of proveedores">
      <td>{{proveedor.nombre}}</td>
      <td>{{proveedor.cif}}</td>
      <td>{{proveedor.localidad}}</td>
    </tr>
  </table>
</div>