<div class="barra-fija">
    <div title="Proveedores" routerLink="/listado-proveedores"> 
      <i class="far fa-address-card"></i> 
    </div>
    <div title="Facturas" routerLink="/listado-facturas"> 
      <i class="far fa-file-alt"></i>
    </div> 
  </div>

<div class="col-md-12">
  <nav aria-label="breadcrum">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a routerLink="/inicio">Inicio</a> </li>
      <li class="breadcrumb-item"> <a routerLink="/compras">Compras</a> </li>
      <li class="breadcrumb-item active" aria-current="page">Proveedores</li>
    </ol>
  </nav>
</div>

<div class="col-md-12 titulo">
  <span>Proveedores</span>
  <span class="alert alert-danger" [@alerta]="estadoAlerta">
    {{mensaje}}
  </span>
  <button class="btn btn-primary" routerLink="/crear-proveedor" *ngIf="autenticacionService.getPerProveedores()">
    <i class="fas fa-user-plus"></i>
  </button>
</div>

<div class="col-md-12">
  <table class="table table-bordered table-striped">
    <tr>
      <th>Nombre</th>
      <th>CIF</th>
      <th>Localidad</th>
      <th></th>
    </tr>
    <tr *ngFor="let proveedor of proveedores">
      <td>{{proveedor.nombre}}</td>
      <td>{{proveedor.cif}}</td>
      <td>{{proveedor.localidad}}</td>
      <td>
        <button class="btn btn-success" routerLink="/editar-proveedor/{{proveedor._id}}" >
          <span *ngIf="autenticacionService.getPerProveedores()">
            <i class="far fa-edit"></i> 
          </span>
          <span *ngIf="!autenticacionService.getPerProveedores()">
            <i class="fas fa-eye"></i>
          </span>
        </button> 
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="obtenerId(proveedor._id)" *ngIf="autenticacionService.getPerProveedores()">
          <i class="far fa-trash-alt"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> <i class="fas fa-exclamation-triangle"></i> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ¿Está seguro de eliminar el proveedor?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="borrarProveedor()" data-dismiss="modal">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div class="paginacion">
    <button class="btn btn-primary" [ngClass]="{'oculto':desde<25}" (click)="retrocederTramoBotones()">
        <i class="fas fa-angle-double-left"></i>
      </button>
    <button class="btn btn-primary" [ngClass]="{'oculto':desde===0}" (click)="setDesde(-5);retrocederBotones();">
      <i class="fas fa-angle-left"></i>
    </button>
    <div *ngFor="let boton of botones">
      <button *ngIf="boton<=(numeroBotones+1)" class="btn btn-primary" [ngClass]="{'btn-outline-primary':(boton-1)===(desde/5)}" (click)="updateDesde(boton*5-5);">
        {{boton}}
      </button>
    </div>
    <button class="btn btn-primary" [ngClass]="{'oculto':desde>=(total-5)}" (click)="setDesde(5);avanzarBotones();">
      <i class="fas fa-angle-right"></i>
    </button>
    <button class="btn btn-primary" [ngClass]="{'oculto':desde>=(total-25)}" (click)="avanzarTramoBotones()">
      <i class="fas fa-angle-double-right"></i>
    </button>
  </div> 
</div>