<div class="barra-fija">
  <div title="Clientes" routerLink="/listado-clientes"> 
    <i class="far fa-address-card"></i> 
  </div>
  <div title="Presupuestos" routerLink="/listado-presupuestos"> 
    <i class="far fa-file-alt"></i>
  </div> 
</div>

<div class="col-md-12">
<nav aria-label="breadcrum">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a routerLink="/inicio">Inicio</a> </li>
    <li class="breadcrumb-item"> <a routerLink="/compras">Ventas</a> </li>
    <li class="breadcrumb-item active" aria-current="page">Clientes</li>
  </ol>
</nav>
</div>

<div class="col-md-12 titulo">
<span>Clientes</span>
<!-- <span class="alert alert-danger" [@alerta]="estadoAlerta">
  {{mensaje}}
</span> -->
<button class="btn btn-primary" routerLink="/crear-cliente">
  <i class="fas fa-user-plus"></i>
</button>
</div>

<div class="col-md-12">

<input type="search" class="form-control" placeholder="Introduzca el nombre" [formControl]="buscador">
<div>
  <p *ngFor="let cliente of clientes">
    {{cliente.nombre}}
  </p>
  <p *ngIf="mensaje">No se han encontrado coincidencias</p>
</div>
<!-- <table class="table table-bordered table-striped">
  <tr>
    <th>Nombre</th>
    <th>CIF</th>
    <th>Localidad</th>
    <th></th>
  </tr>
  <tr *ngFor="let cliente of clientes">
    <td>{{cliente.nombre}}</td>
    <td>{{cliente.cif}}</td>
    <td>{{cliente.localidad}}</td>
    <td>
      <button class="btn btn-success" routerLink="/editar-cliente/{{cliente._id}}">
        <i class="far fa-edit"></i> 
      </button> 
      <!-- Button trigger modal
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="obtenerId(cliente._id)">
        <i class="far fa-trash-alt"></i>
      </button>
      <!-- Modal
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"> <i class="fas fa-exclamation-triangle"></i> </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ¿Está seguro de eliminar el cliente?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="borrarCliente()" data-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table> -->
</div>