<div class="col-md-6 offset-md-3 col-12 autenticacion">
  <h1 style="font-size:26px; text-align:center">Introduzca sus datos </h1>
  <form [formGroup]="registroForm" (ngSubmit)="registroUsuario()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <span *ngIf="registroForm.controls.nombre.valid && registroForm.controls.nombre.dirty">
        <i class="fas fa-check-circle valido"></i>
      </span>
      <span class="no-valido" *ngIf="registroForm.controls.nombre.invalid && registroForm.controls.nombre.touched">
        <i class="fas fa-times-circle"></i>
        El campo es obligatorio
      </span>
      <input type="text" class="form-control" formControlName="nombre" autofocus>
    </div>
    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <span *ngIf="registroForm.controls.email.valid && registroForm.controls.email.dirty">
        <i class="fas fa-check-circle valido"></i>
      </span>
      <span class="no-valido" *ngIf="registroForm.controls.email.invalid && registroForm.controls.email.touched">
        <i class="fas fa-times-circle"></i>
        Campo obligatorio. Por favor, escriba un correo electrónico correcto
      </span>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
    <span *ngIf="registroForm.controls.password.valid && registroForm.controls.password.dirty">
        <i class="fas fa-check-circle valido"></i>
      </span>
      <span class="no-valido" *ngIf="registroForm.controls.password.invalid && registroForm.controls.password.touched">
        <i class="fas fa-times-circle"></i>
        La contraseña debe terner como mínimo 8 caracteres y contener al menos una mayúscula, una minúscula, un número o caracter especial
      </span>
      <input type="password" class="form-control" formControlName="password">
    </div>
    <div class="form-group">
      <label for="confirma">Repita la contraseña</label>
      <span class="no-valido" *ngIf="registroForm.value.password !== registroForm.value.confirma && registroForm.controls.confirma.dirty">
        <i class="fas fa-times-circle"></i>
        Las contraseñas deben coincidir
      </span>  
      <input type="password" class="form-control" formControlName="confirma">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid || (registroForm.value.password !== registroForm.value.confirma)">
        Crear cuenta
      </button>
    </div>
  </form>
  <p class="alert alert-danger" [@alerta]="estadoalerta">
    {{mensaje}}
  </p>
  <p>
    Si ya dispone de cuenta <a routerLink="/inicio-sesion">pulse aquí</a>
  </p>
</div>
