<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">ERP App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="sesion">
        <span *ngIf="autenticacionService.isLogged">
          {{autenticacionService.nombre}}
          <i class="fas fa-user"></i>
        </span>
        <button *ngIf="!getLogged()" class="btn btn-primary" routerLink="/inicio-sesion">
          Iniciar Sesión
        </button>
        <button *ngIf="getLogged()" class="btn btn-danger" (click)="autenticacionService.logout()">
          Cerrar Sesión
        </button>
      </div>
    </ul>
  </div>
</nav>