<div class="barra-fija">
  <div title="Clientes" routerLink="/listado-clientes"> 
    <i class="far fa-address-card"></i> 
  </div>
  <div title="Presupuestos" routerLink="/listado-presupuestos"> 
    <i class="far fa-file-alt"></i>
  </div>
  <div title="Artículos" routerLink="/listado-articulos"> 
    <i class="fas fa-cogs"></i>
  </div> 
</div>

<div class="col-md-12 breadcrum">
  <nav aria-label="breadcrum">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a routerLink="/inicio">Inicio</a> </li>
      <li class="breadcrumb-item active" aria-current="page">Ventas</li>
    </ol>
  </nav>
</div>

<div class="col-md-12 titulo">
  <span>Dashboard</span>
</div>

<div class="col-md-12">
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" (click)="primerTrimestre()">
    <label class="custom-control-label" for="customRadioInline1">Presupuestos 1<sup>er</sup> Trimestre</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" (click)="segundoTrimestre()" checked>
    <label class="custom-control-label" for="customRadioInline2">Presupuestos 2<sup>o</sup> Trimestre</label>
  </div>
</div>

<div class="col-md-12">
  <div style="width:80%;margin:20px auto;" *ngIf="chartPtosTrimestre">
    <canvas id="grafico1">{{chartPtosTrimestre}}</canvas>
  </div>
</div>
<div class="col-md-12">
  <div style="width:80%;margin:20px auto;" *ngIf="chartTotalesClientes">
    <canvas id="grafico2">{{chartTotalesClientes}}</canvas>
  </div>
</div>