/* You can add global styles to this file, and also import other style files */

.menu-inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 500ms;
}

.box span {
    font-size: 80px;
}

.box p {
    color: white;
    font-size: 26px;
}

.rojo {
    background-color: #f56954;
}

.rojo:hover {
    background-color: #fc7d69;
}

.rojo span {
    color: #803226;
}

.verde {
    background-color: #5cb85c;
}

.verde:hover {
    background-color: #67ff67;
}


.verde span {
    color: #208320;
}

.azul {
    background-color: #428bca;
}

.azul:hover {
    background-color: #62b6ff;
}

.azul span {
    color: #1a4c77;
}

.naranja {
    background-color: #ffa500;
}

.naranja:hover {
    background-color: #fabd4d;
}

.naranja span {
    color: #72541d;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titulo span {
    font-size: 20px;
}

.formulario {
    padding: 20px 20px 40px;
}

.tabla-facturas th:nth-child(3), .tabla-facturas td:nth-child(3) {
    text-align: right;
    width: 20%;
}

.tabla-facturas th:nth-child(1), .tabla-facturas td:nth-child(1) {
    width: 40%;
}

.tabla-facturas th:nth-child(1), .tabla-facturas td:nth-child(2) {
    width: 20%;
}

.tabla-facturas th:nth-child(4), .tabla-facturas td:nth-child(4) {
    text-align: center;
    width: 20%;
}

.barra-fija {
    width: 100px;
    height: calc(100vh - 56px);
    background-color: #3f3f3f;
    position: fixed;
    top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-fija div {
    color: lightgray;
    font-size: 50px;
    transition: color 500ms ease-in-out;
    outline: none;
}

.barra-fija div:hover {
    color: white;
    cursor: pointer;
}

.col-md-12 {
    width: calc(100% - 100px);
    margin-left: 100px;
}

.breadcrum, .autenticacion {
    margin-top: 100px;
}

.valido {
    color: green;
}

.no-valido {
    color: red;
}

.sesion {
    display: flex;
    align-items: center;
}

.sesion span {
    color: #3f3f3f;
    font-size: 22px;
    margin-right: 10px;
}

.cabecera {
    display: flex;
    width: 100%;
}

.cabecera .campo {
    margin: 0px 5px;
    height: 40px;
}

.cabecera .campo:nth-child(1) {
    width: 5%;
}

.cabecera .campo:nth-child(2) {
    width: 25%;
}

.cabecera .campo:nth-child(3) {
    width: 30%;
}

.cabecera .campo:nth-child(4) {
    width: 10%;
}
.cabecera .campo:nth-child(5) {
    width: 10%;
}

.cabecera .campo p {
    font-weight: bolder;
}

.fila {
    display: flex;
    width: 100%;
}

.fila .campo {
    margin: 5px;
    height: 40px;
    border-bottom: solid 1px lightgray;
}

.fila .campo:nth-child(1) {
    width: 5%;
    border-bottom: none;
}

.fila .campo:nth-child(2) {
    width: 25%;
}

.fila .campo:nth-child(3) {
    width: 30%;
}

.fila .campo:nth-child(4) {
    width: 30%;
}

.fila .campo:nth-child(5) {
    width: 20%;
    border: none;
}

.fila .nuevo {
    margin: 5px;
    height: 40px;
    border-bottom: solid 1px lightgray;
}

.fila .nuevo:nth-child(1) {
    width: 20%;
}

.fila .nuevo:nth-child(2) {
    width: 20%;
}

.fila .nuevo:nth-child(3) {
    width: 20%;
}

.fila .nuevo:nth-child(4) {
    width: 20%;
    border-bottom: none;
}

.fila .nuevo:nth-child(5) {
    width: 20%;
    border: none;
}

form.fila:first-child(1) {
    margin-bottom: 40px;
}

.fila input {
    width: 100%;
    margin: 0;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px lightgray;
}

.fila input:focus {
    outline: none;
    border-bottom: solid 2px crimson;
}

.fila select {
    height: 40px;
}

.fila.editable .campo {
    margin: 5px;
    height: 40px;
    border-bottom: solid 1px lightgray;
}

.fila.editable .campo:nth-child(1) {
    width: 30%;
}

.fila.editable .campo:nth-child(2) {
    width: 30%;
}

.fila.editable .campo:nth-child(3) {
    width: 30%;
}

.fila.editable .campo:nth-child(4) {
    width: 10%;
    border: none;
}

.fila.editable input {
    padding-bottom: 17px;
}

.fila.editable select {
    width: 100%;
}

.paginacion {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.paginacion button {
    margin: 15px;
}