<div class="col-ms-12">
  <nav aria-label="breadcrum">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
  </nav>
</div>

<div class="col-md-12 menu-inicio">
  <div class="box rojo" routerLink="/compras">
    <span> <i class="fas fa-cart-arrow-down"></i> </span>
    <p>Compras</p>
  </div>
  <div class="box verde" routerLink="/ventas">
    <span> <i class="fas fa-hand-holding-usd"></i> </span>
    <p>Ventas</p>
  </div>
  <div class="box azul" routerLink="/contabilidad">
    <span> <i class="fas fa-briefcase"></i> </span>
    <p>Contabilidad</p>
  </div>
</div>