<div *ngIf="!getLogged()" class="container breadcrum">
  <h1 style="font-size:26px;text-align:center">
    Bienvenidos a nuestra apliacación
  </h1>
  <h4 style="text-align:center">
    Por favor <a routerLink="/inicio-sesion">Inicie su sesión</a>
  </h4>
</div>

<div *ngIf="getLogged()">
  <div class="container breadcrum">
    <nav aria-label="breadcrum">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
      </ol>
    </nav>
  </div>
  
  <div class="container menu-inicio">
    <div class="box rojo" routerLink="/compras" *ngIf="autenticacionService.getPerCompras()">
      <span> <i class="fas fa-cart-arrow-down"></i> </span>
      <p>Compras</p>
    </div>
    <div class="box verde" routerLink="/ventas" *ngIf="autenticacionService.getPerVentas()">
      <span> <i class="fas fa-hand-holding-usd"></i> </span>
      <p>Ventas</p>
    </div>
    <div class="box azul" routerLink="/contabilidad" *ngIf="autenticacionService.getPerContabilidad()">
      <span> <i class="fas fa-briefcase"></i> </span>
      <p>Contabilidad</p>
    </div>
    <div class="box naranja" routerLink="/listado-usuarios" *ngIf="autenticacionService.getPerLisUsuarios()">
      <span> <i class="fas fa-users"></i> </span>
      <p>Usuarios</p>
    </div>
  </div>
</div>
