<div class="barra-fija">
    <div title="Proveedores" routerLink="/listado-proveedores"> 
      <i class="far fa-address-card"></i> 
    </div>
    <div title="Facturas" routerLink="/listado-facturas"> 
      <i class="far fa-file-alt"></i>
    </div> 
  </div>

<div class="col-md-12">
  <nav aria-label="breadcrum">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"> <a routerLink="/inicio">Inicio</a> </li>
      <li class="breadcrumb-item"> <a routerLink="/compras">Compras</a> </li>
      <li class="breadcrumb-item"> <a routerLink="/listado-facturas">Facturas</a> </li>
      <li class="breadcrumb-item active" aria-current="page">Nueva Factura</li>
    </ol>
  </nav>
</div>

<div class="col-md-12 titulo">
  <span>Añadir Factura</span>
  <button class="btn btn-primary" routerLink="/listado-facturas">
    Atras
  </button>
</div>

<div class="col-md-10 offset-md-1">
  <div class="formulario">
    <h3>Registrar Factura de Proveedor</h3>
    <form [formGroup]="facturaForm" (ngSubmit)="crearFact()">
      <div class="row">
        <div class="col-md-6">
          <label for="proveedor">Proveedor</label>
          <input type="text" class="form-control" formControlName="proveedor">    
        </div>
        <div class="col-md-6">
          <label for="cif">CIF</label>
          <input type="text" class="form-control" formControlName="cif" #cif>    
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="fecha">Fecha</label>
          <input type="date" class="form-control" formControlName="fecha">
        </div>
        <div class="col-md-8">
          <label for="concepto">Concepto</label>
          <input type="text" class="form-control" formControlName="concepto">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="base">Base imponible</label>
          <input type="number" class="form-control" formControlName="base">    
        </div>
        <div class="col-md-4">
          <div class="radiobotones">
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]=true formControlName="retencion">
              <label class="form-check-label">
                Con retención de IRPF
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]=false formControlName="retencion">
              <label class="form-check-label">
                Sin retención de IRPF
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="iva">% IVA</label>
          <select class="form-control" formControlName="iva">
            <option value="0">0%</option>
            <option value="0.04">4%</option>
            <option value="0.1">10%</option>
            <option value="0.21">21%</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" *ngIf="!retencion"></div>
        <div class="col-md-4" *ngIf="retencion">
          <label for="irpf">Retención IRPF</label>
          <input type="text" class="form-control" formControlName="irpf" [(ngModel)]="facturaForm.value.irpf" readonly>    
        </div>
        <div class="col-md-4">
          <label for="importe">Importe IVA</label>
          <input type="text" class="form-control" formControlName="importe" [(ngModel)]="facturaForm.value.importe" readonly>    
        </div>
        <div class="col-md-4">
          <label for="total">Total Factura IVA incluido</label>
          <input type="text" class="form-control" formControlName="total" [(ngModel)]="facturaForm.value.total" readonly>    
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">
              <span *ngIf="!enviando">
                Añadir Factura
              </span>
              <span *ngIf="enviando">
                <i class="fas fa-sync fa-pulse"></i>
              </span>  
            </button>
            <button routerLink="/listado-facturas" class="btn btn-danger">
              Cancelar
            </button>
          <p class="alert alert-warning" [@alerta]="estadoAlerta">
            {{mensaje}}
          </p>
        </div>
      </div>
    </form>
  </div>
</div>